<html>
  <head>
    <title>
      A simple notification manager
    </title>
    <link rel="stylesheet" type="text/css" href="styles/icon.css">
    <link rel="stylesheet" type="text/css" href="styles/materialize.min.css">
  </head>
  <body ng-app="mainApp" ng-controller="homeCtrl as ctrl">
    <header>
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
      <ul id="nav-mobile" class="side-nav fixed">
        <div class="section">
          <li>
            <a id="logo-container" href="." class="brand-logo"><img src="favicon.ico">
            </a>
          </li>
        </div>
        <div class="divider"></div>
        <div class="section collapsible collapsible-accordion">
          <li class="bold"><a href="/" class="waves-effect waves-teal">View Orders|subOrders</a></li>
          <li class="bold"><a href="/signOut" class="waves-effect waves-teal">Sign Out</a></li>
        </div>
      </ul>
    </header>
    <main>
      <div class="container">
        <div class="" ui-view></div>
      </div>
    </main>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/jquery-2.1.1.min.js"></script>
    <script src="/js/dependencies/materialize.min.js"></script>
    <script src="/js/init.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
